<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ERP-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/erp</jta-data-source>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
  <persistence-unit name="PU_shberp" transaction-type="JTA">
    <jta-data-source>jdbc/shberp</jta-data-source>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.canonicalmodel.subpackage" value="shb"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="PU_gzerp" transaction-type="JTA">
    <jta-data-source>jdbc/gzerp</jta-data-source>
    <class>cn.hanbell.erp.entity.Invbal</class>
    <class>cn.hanbell.erp.entity.Invwh</class>
    <class>cn.hanbell.erp.entity.Apmsys</class>
    <class>cn.hanbell.erp.entity.Apmrno</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.canonicalmodel.subpackage" value="gz"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="PU_njerp" transaction-type="JTA">
    <jta-data-source>jdbc/njerp</jta-data-source>
    <class>cn.hanbell.erp.entity.Invbal</class>
    <class>cn.hanbell.erp.entity.Invwh</class>
    <class>cn.hanbell.erp.entity.Apmsys</class>
    <class>cn.hanbell.erp.entity.Apmrno</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.canonicalmodel.subpackage" value="nj"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="PU_jnerp" transaction-type="JTA">
    <jta-data-source>jdbc/jnerp</jta-data-source>
    <class>cn.hanbell.erp.entity.Invbal</class>
    <class>cn.hanbell.erp.entity.Invwh</class>
    <class>cn.hanbell.erp.entity.Apmsys</class>
    <class>cn.hanbell.erp.entity.Apmrno</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.canonicalmodel.subpackage" value="jn"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="PU_hansonerp" transaction-type="JTA">
    <jta-data-source>jdbc/hansonerp</jta-data-source>
    <properties>
      <property name="eclipselink.canonicalmodel.subpackage" value="hanson"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="PU_comererp" transaction-type="JTA">
    <jta-data-source>jdbc/comererp</jta-data-source>
    <properties>
      <property name="eclipselink.canonicalmodel.subpackage" value="comer"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="PU_qtcerp" transaction-type="JTA">
    <jta-data-source>jdbc/qtcerp</jta-data-source>
    <properties>
      <property name="eclipselink.canonicalmodel.subpackage" value="qtc"/>
    </properties>
  </persistence-unit>
</persistence>
